.ingredi_wrap {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;

	.no_data {
		margin: 50px auto;

		p {
			text-align: center;
			font-size: 2.4rem;
			font-weight: bold;
		}
	}
}

.img_wrap {
	margin: 20px auto;
	text-align: center;

	img {
		width: 60%;
	}
}

.desc {
	font-size: 1.6rem;
}

.ingredi_list .search_wrap {
	border-bottom: solid 2px #62289C;
	width: 80%;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 20px;
	.search {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.search_box{
		font-size: 1.6rem;
		// max-width: 180px;
		width: 100%;
		color: #333;
    padding-left: 14px;
    background-color: transparent;
	}
	.search_btn {
		background-color: transparent;
		border: none;
		padding: 4px 10px 2px;

		img {
			width: 24px;
		}
	}
}

// detail 
.cock_InIngredi{
	margin: 30px 0 10px;
}

@media screen and (max-width: 480px) {
	.desc {
		// font-size: 14px;
	}
}