.cocktail_wrap {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	.no_data {
		margin: 50px auto;
		p {
			text-align: center;
			font-size: 2.4rem;
			font-weight: bold;
		}
	}
}
.cock_menu {
	text-align: center;
	margin: 20px auto;
	// width: 80%;
	button {
		background-color: transparent;
		border: none;
		font-size: 2rem;
		font-weight: bold;
	}
}

.cocktail_list .search_wrap {
	border-bottom: solid 2px #62289C;
	width: 80%;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 20px;
	.search {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.search_box{
		font-size: 1.6rem;
		// max-width: 180px;
		width: 100%;
		color: #333;
		padding-left: 14px;
		background-color: transparent;
	}
	.search_btn {
		background-color: transparent;
		border: none;
		padding: 4px 10px 2px;
		img {
			width: 24px;
		}
	}
}

.cocktail_detail{
	.img_wrap{
		// width: 100%;
		margin: 0 auto;
	}
	.cocktail_img{
		width: 60%;
		margin: 0 auto;
		text-align: center;
	}
	.detail_desc p{
		font-size: 2rem;
		margin-bottom: 2rem;
		line-height: 1.4;
		span{
			font-weight: bold;
		}
	}
	h3{
		font-size: 2rem;
		font-weight: bold;
	}
	.ingred_desc{
		display: flex;
		flex-wrap: wrap;
		background-color: rgba(255, 255, 255, 0.7);
		padding: 10px;
		border-radius: 16px;
		gap: 10px;
		// justify-content: center;
		.ingred_item{
			width: calc(50% - 10px);
			a {
				width: 100%;
				display: flex;
				// justify-content: center;
				align-items: center;
			}
			p{
				font-size: 1.6rem;
				padding-left: 16px;
				display: block;
				color: #333;
				span{
					font-size: 1.6rem;
					display: block;
					color: #333;
					font-weight: bold;
				}
			}
		}
		img{
			width: 20%;
		}
	}
}

@media screen and (max-width: 480px) {
	.cocktail_wrap {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
	}
}