.cocktail_wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  .no_data {
    margin: 50px auto;
    p {
      text-align: center;
      font-size: 2.4rem;
      font-weight: bold;
    }
  }
}
.cock_menu {
  text-align: center;
  margin: 20px auto;
  // width: 80%;
  button {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    font-weight: bold;
  }
}

.cocktail_list .search_wrap {
	border-bottom: solid 2px #62289C;
	width: 80%;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 20px;
	.search {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.search_box{
		font-size: 1.6rem;
		// max-width: 180px;
		width: 100%;
		color: #333;
    padding-left: 14px;
    background-color: transparent;
	}
	.search_btn {
		background-color: transparent;
		border: none;
		padding: 2px 8px;
		img {
			width: 24px;
		}
	}
}

@media screen and (max-width: 480px) {
  .cocktail_wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}