.cocktail_item {
	width: calc((100% - 30px) / 2);

	a {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	p {
		text-align: center;
		margin: 10px 0 10px 0;
		font-size: 2rem;
		font-weight: bold;
	}

	// img {
	// 	width: 80%;
	// 	padding: 10px;
	// }
	.item_inner {
		position: relative;
		width: 90%;

		&::after {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: relative;
			padding-bottom: 100%;
		}
	}

	.drink_img {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		background-image: url(../../img/common/icon_arrow_left_333.svg);
		background-size: 100%;
		background-position: center;
		background-repeat: no-repeat;
	}
}

@media screen and (max-width: 480px) {
  .cocktail_item {
		width: calc((100% - 20px) / 2);
		.item_inner {
			position: relative;
			width: 100%;
		}
	}
}
