.main_sec1 {
  .inner {
    text-align: right;
    padding: 20px 20px;
  }
  h3 {
    font-size: 18px;
  }
  .random {
    font-size: 30px;
    font-weight: bold;
    // line-height: 1.6;
    margin-top: 16px;
    display: inline-block;
  }
}